/*HEADER*/
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: #333333;
    position: fixed;
    top: 0;
    z-index: 999;
    }
    .header .header-logo {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        float: left;
        margin-left : 30px;
    }
    
    
    .header .header-menu  {
        float: right;
        margin-right : 30px;
    }
    .header .header-menu a  {
        color: #ffffff;
        margin-right : 15px;
    }
    .header .header-menu a:hover{
         color:#ffeaa7 ;
    }

    .banner .banner-content{
        position: relative;
        top: 100px;
        margin-left : 30px;
        margin-right: 30px;
    }



/*footer*/
.footer .footer-information {
    text-align: center;
    
}
.footer .footer-information ul li {
   display: inline-block; 
   list-style-type: none;
}    .footer .footer-information {
    text-align: center;
}
.footer .footer-information ul li {
   display: inline-block; 
   list-style-type: none;
}